<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AgroKart{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include "core/base_header.html" %}
    <main>
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>
    {% include "core/base_footer.html" %}
    {% block extra_js %}{% endblock %}
</body>
</html>
